.join-container {
  font-size: 15px;
  position: relative;
  background-color: #f2f3f5;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  img.qr-code {
    border-radius: 15px;
    width: 80%;
    margin: auto auto;
  }

  div {
    margin: 1em auto 10em auto;
    text-align: center;
  }
}