.tab {
    overflow-x: auto;
}

.tab::-webkit-scrollbar {
    display: none;
}

.tab-wrapper {
    width: 480px;
    height: 44px;
    line-height: 44px;
    text-align: center;
    display: flex;
    border-bottom: 1px solid hsla(0, 0%, 92%, .5);
    font-size: 16px;
    position: relative;
}

.tab-item {
    flex: 1;
}

.tab-item.active {
    font-weight: 700;
}

.tab-line {
    width: 16.666666667%;
    height: 3px;
    position: absolute;
    bottom: 0;
    transition: all .3s ease-in-out;
}

.tab-line-center {
    width: 40%;
    height: 100%;
    margin: 0 auto;
    background-color: #f85959;
}