.content {
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
}

.content::-webkit-scrollbar {
    display: none;
}

.content h1 {
    text-align: center;
}

.pneumonia-container {
    background-color: #f8f8f8;
}

.pneumonia-block-container {
    margin-bottom: 8px;
    background-color: #fff;
    padding: 10px 15px 0;
}

.header {
    position: relative;
    width: 100%;
    height: 92px;
    padding-top: 25px;
    padding-left: 25px;
    background-size: cover;
    background-repeat: no-repeat;
}

.header .logo {
    position: absolute;
    top: 12px;
    right: 35px;
    width: 100px;
}

.header p {
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
}

.pneumonia-block-container .block-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 10px;
}

.pneumonia-block-container .block-title .title {
    font-size: 22px;
    font-weight: bold;
}