.loading_mask {
    background-color: #f0f0f0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.container {
    margin: 0 auto;
    width: 30px;
    height: 30px;
    position: relative;
}

.container.animation {
    animation: rotation 1s infinite;
}

.container.animation .shape {
    width: 12px;
    height: 12px;
    border-radius: 2px;
}

.container .shape {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 1px;
}

.container .shape.shape1 {
    left: 0;
    background-color: #5cb0de;
}

.container .shape.shape2 {
    right: 0;
    background-color: #a0c63e;
}

.container .shape.shape3 {
    bottom: 0;
    background-color: #f1ba51;
}

.container .shape.shape4 {
    bottom: 0;
    right: 0;
    background-color: #e8534c;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.animation .shape1 {
    animation: animation-shape1 2s linear 0s infinite normal;
}

@keyframes animation-shape1 {
    0% {
        transform: translate(0, 0);
    }
    25% {
        transform: translate(0, 18px);
    }
    50% {
        transform: translate(18px, 18px);
    }
    75% {
        transform: translate(18px, 0);
    }
}

.animation .shape2 {
    animation: animation-shape2 2s linear 0s infinite normal;
}

@keyframes animation-shape2 {
    0% {
        transform: translate(0, 0);
    }
    25% {
        transform: translate(-18px, 0);
    }
    50% {
        transform: translate(-18px, 18px);
    }
    75% {
        transform: translate(0, 18px);
    }
}

.animation .shape3 {
    animation: animation-shape3 2s linear 0s infinite normal;
}

@keyframes animation-shape3 {
    0% {
        transform: translate(0, 0);
    }
    25% {
        transform: translate(18px, 0);
    }
    50% {
        transform: translate(18px, -18px);
    }
    75% {
        transform: translate(0, -18px);
    }
}

.animation .shape4 {
    animation: animation-shape4 2s linear 0s infinite normal;
}

@keyframes animation-shape4 {
    0% {
        transform: translate(0, 0);
    }
    25% {
        transform: translate(0, -18px);
    }
    50% {
        transform: translate(-18px, -18px);
    }
    75% {
        transform: translate(-18px, 0);
    }
}