.index-container .header .title {
    width: 180px;
}

.pneumonia-block-container .block-title .update-time {
    font-size: 13px;
    color: #999999;
}

.pneumonia-block-container .block-title .update-time i {
    width: 18px;
    height: 18px;
    display: inline-block;
    transform: translateY(-1px);
    vertical-align: middle;
    background-size: contain;
    margin-left: 2px;
}

.pneumonia-block-container .total {
    display: flex;
    text-align: center;
    padding: 10px 20px 10px;
    justify-content: space-between;
}

.pneumonia-block-container .total .text {
    font-size: 12px;
    font-weight: bold;
    width: 68px;
    margin: 0 auto;
    background: rgba(216, 216, 216, 0.2);
    border-radius: 3px;
    color: #505050;
}

.tab-list {
    border-bottom: 1px solid #ccc;
    padding-left: 0;
}

.tab-list-item {
    display: inline-block;
    list-style: none;
    margin-bottom: -1px;
    padding: 0.5rem 0.75rem;
}

.tab-list-active {
    background-color: white;
    border: solid #ccc;
    border-width: 1px 1px 0 1px;
}

.epidemic-trends-legend .index {
    color: #b1398c;
}

.epidemic-trends-legend .index::before {
    background-color: #b1398c;
}
